@model ChangePasswordModel;
@{
  ViewData["Title"] = "Change Password";
}

<div class="mx-auto max-w-4xl mt-16">
  <h1 class="heading-1 mt-8">Create New Password</h1>

  <form asp-controller="Auth" asp-action="ChangingPassword" asp-route-id="@Model.Token" method="post" data-post-form class="border shadow-md p-8 mt-8">
    <label asp-for="Payload.Password" class="text-input">
      <span>Password:</span>
      <input asp-for="Payload.Password" type="password">

      <span asp-validation-for="Payload.Password"></span>
    </label>

    <label asp-for="Payload.PasswordConfirmation" class="text-input mt-4">
      <span>Password Confirmation:</span>
      <input asp-for="Payload.PasswordConfirmation" type="password">

      <span asp-validation-for="Payload.PasswordConfirmation"></span>
    </label>

    <button type="submit" class="btn-submit w-full mt-8">Change Password</button>
  </form>
</div>