@model RequestResetPasswordModel;
@{
  ViewData["Title"] = "Forgot Password";

  var passedEmail = string.IsNullOrEmpty(Model.Email) ? "" : Model.Email;
}

<div class="mx-auto max-w-4xl mt-16">
  @if(!string.IsNullOrEmpty(Model.Message)) 
  {
    <div class="text-center">@Model.Message</div>
  }
  else
  {
    <form asp-controller="Auth" asp-action="ResettingPassword" method="post" data-post-form class="border shadow-md p-8 mt-8 max-w-lg mx-auto">
      <label asp-for="Payload.Email" class="text-input">
        <span>To reset your password, please enter your email address:</span>
        <input asp-for="Payload.Email" value="@passedEmail" type="text">

        <span asp-validation-for="Payload.Email"></span>
      </label>

      <button type="submit" class="btn-submit w-full mt-8">Reset Password</button>
    </form>
  }
</div>



