<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | TheProjector</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="min-h-screen pb-8">
    <header class="p-6 shadow-md">
        @await Html.PartialAsync("_Navbar")
    </header>

    <main class="px-6">
        @RenderBody()
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
